@import "~bootstrap/scss/bootstrap";

// creao root per il color primary

// HEADER
.riga {
    width: 100%;
    height: 20px;
    background-color: rgb(2 130 249);
}

// ❌ DA SISTEMARE PERCHE' COSI' SMINCHIA IL FOOTER ❌
li {
    display: inline-block;

    .link {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
    }

    .link.active {
        background-color: rgb(2 130 249);
    }
}

.imgcartoon {
    width: 100%;
    height: 300px;
}

// FOOTER

.primofooter {
    // ❌ immagine sfondo footer che non funziona ❌
    background-image: "resources/images/footer-bg.jpg";

    display: flex;
}

.secondofooter {
    background-color: rgb(48 48 48);
    color: white;
}
