@import "~bootstrap/scss/bootstrap";

li {
    display: inline-block;

    .link {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
    }

    .link.active {
        background-color: rgb(2 130 249);
    }
}

.imgcartoon {
    width: 100%;
    height: 300px;
}
